<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    
</head>
<body>
    {{>nav}}
    {{>Left_side_bar}}
    {{>Right_Main_cont}}
   
   
   
  

   {{!-- for close upper div contaner in other file it need to minmum 1 page like profile --}}


    {{>footer}}
    <script src={{jsLink}}></script>
    <script src={{jsLink2}}></script>
</body>
</html>