<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    
</head>
<body>
    {{>nav}}
    {{>basePage}}
    {{> (whichPartial) }}
   
   
  

   {{!-- for close upper div contaner in other file it need to minmum 1 page like profile --}}

</div>
</div>
    {{>footer}}
</body>
</html>