<!-- /* version 1.0.0 */ -->

<div class="mainOuter">
    <div class="leftCont">

        <div class="navPannel">

            <div class="np Home underline">
                <i class="fa-solid fa-house-chimney-user"></i>
                <p>Home</p>

            </div>
            <div class="np Profile ">
                <i class="fa-solid fa-user"></i>
                <p>Profile</p>
            </div>
            <div class="np Notification">
                <i class="fa-sharp fa-solid fa-bell"></i>
                <p>Notification</p>
            </div>
            <div class="np BookMarks">
                <i class="fa-regular fa-bookmark"></i>
                <p>BookMarks</p>
            </div>
            <div class="np List">
                <i class="fa-solid fa-list-ul"></i>
                <p>List</p>
            </div>
            <div class="np More">
                <i class="fa-solid fa-angle-right"></i>
                <p>More</p>
            </div>

        </div>

    </div>

    


{{!-- for close upper div contaner in other file it need to minmum 1 page like profile --}}