
<!-- /* version 1.0.0 */ -->


<!-- nav bar of twitter-clone by subhajit  -->
<nav>
    <div class="logo">
        <img src="./res/SUVHO..png" alt="logo">
        <p>SUBHO</p>
    </div>
    <div class="navAction">
        <div class="about Navagation">
            <a href="/About">About</a>
            
        </div>
        <div class="help Navagation">
            <a href="/Help">Help</a>
        </div>
        <div class="searchBar"><input type="search" name="search" id="search" placeholder="Search here"></div>
    </div>
    <div class="user">
        <p>Subhajit</p>
        <img src="./res/SUVHO..png" alt="userLogo">
    </div>

</nav>