
<!-- version 1.0.0 -->
<!-- profile page  -->


 <div class="main-DashBorad">
    <div class="DashBorad-layout">
        <div class="box b1 m-Profile">

            <img src="./res/SUVHO..png" alt="">
            <p id="TAG_NAME">@SUBHO_YT</p>
            <h2 id="User_name">SUBHAJIT GARAI</h2>
            <h5 id="City_name">Bankura</h5>
            <P id="About-User">I am a programer and i built a nice website</P>
            <div id="user-social-data">
                <div class="social-data-box ">
                    <p>Follower</p>
                    <span id="Tfollower ">2344</span>
                </div>
                <div class="social-data-box left-boder">
                    <p>Posts</p>
                    <span id="Tposts">2344</span>
                </div>
                <div class="social-data-box left-boder">
                    <p>Flowing</p>
                    <span id="Tflowing">2344</span>
                </div>

            </div>

        </div>

        <div class="box b2 m-Cont-timeLine">2</div>

        <div class="box b3 m-Trends">
            <div class="nav-trens">
                <p>TOP TRENDS</p>
                <i class="fa-sharp fa-solid fa-gear"></i>
            </div>
            <div class="Trend-box">


                <div class="Trend-item">
                    <span class="trend-name">yOyo ghye</span>
                    <span class="trend-id">@yefhffef</span>
                </div>

                <div class="Trend-item">
                    <span class="trend-name">yOyo ghye</span>
                    <span class="trend-id">@yefhffef</span>
                </div>




            </div>
            <div class="Trends-end">
                <p>SEE MORE</p>
            </div>

        </div>

        <div class="b4 m-Actions ">
            <div class="m-a-cont box ">
                <i class="fa-solid fa-eye"></i>
                <p>Activity</p>
            </div>
            <div class="m-a-cont rm-bg">
                <i class="fa-solid fa-bolt"></i>
                <p>Moments</p>
            </div>
            <div class="m-a-cont rm-bg">
                <i class="fa-solid fa-user-group"></i>
                <p>Friends</p>
            </div>
            <div class="m-a-cont rm-bg">
                <i class="fa-solid fa-user-pen"></i>
                <p>Edit Profile</p>
            </div>

        </div>

        <div class="box b5 m-YouShouldFollow">
            <div class="nav-You-s-Follow">
                <p>YOU SHOULD FOLLOW</p>
                <i class="fa-sharp fa-solid fa-gear"></i>
            </div>
            <div class="You-s-Follow-box">


                <div class="You-s-Follow-item">
                    <span class="Y-s-f-user-img">
                        <img src="./res/SUVHO..png" alt="">
                    </span>
                    <span class="y-s-f-Data">
                        <span class="You-s-Follow-name">yOyo ghye</span>
                        <span class="You-s-Follow-id">@yefhffef</span>
                    </span>
                    <span id="y-s-f-action">
                        <input type="button" value="Follow">
                    </span>
                </div>
                <div class="You-s-Follow-item">
                    <span class="Y-s-f-user-img">
                        <img src="./res/SUVHO..png" alt="">
                    </span>
                    <span class="y-s-f-Data">
                        <span class="You-s-Follow-name">yOyo ghye</span>
                        <span class="You-s-Follow-id">@yefhffef</span>
                    </span>
                    <span id="y-s-f-action">
                        <input type="button" value="Follow">
                    </span>
                </div>





            </div>
            <div class="You-s-Follow-end">
                <p>SEE MORE</p>
            </div>
        </div>



    </div>
</div>


