<div class="rightCont ">
        <div class="rightContImg">
            <img src="./res/mount_edit.png" alt="">
        </div>


      

        <!-- DashBoard Here  -->
              
       {{> (whichPartial) }}
